
html{
  background-color: #e8f1f8;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Apply a modern font */
body {
  font-family: 'Arial', sans-serif;
}

/* Styling for h1 */
h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

/* Styling for p */
p {
  font-size: 1rem;
  color: #777;
  line-height: 1.5;
}

